/* Resetting default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  color: #fff;
  padding: 20px 0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 5vh;
}

.logo a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  font-size: 4rem;
}
.logo{
  display: flex;
  align-items: center;
  height: 80px;
  width: 150px;
  color: black;
  font-size: 22px;
  font-weight: bold;
 /* background-color: rgb(17, 55, 151); */
}

.nav-links {
  list-style-type: none;
  font-size: 1.5rem;
  margin: 10px;
}

.nav-links li {
  display: inline-block;
  margin-right: 30px;
}

.nav-links li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  text-align: center;
  padding: 100px 0;
  background-color: #f4f4f4;
}

.products {
  padding: 50px 0;
  text-align: center;
}

.product-card {
  display: inline-block;
  width: 300px;
  margin: 0 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.product-card img {
  width: 150px;
  height: 200px;
  border-radius: 5px;
}

.product-card h3 {
  margin-top: 10px;
}

.product-card button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

footer{
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 10vh;
}
